[Desktop Entry]
Type=Application
Name=Archroom
GenericName=Photo Manager and Raw Developer
Comment=Organize and develop raw photos
Exec=archroom
Icon=archroom
Terminal=false
Categories=Graphics;Photography;RasterGraphics;2DGraphics;
Keywords=photo;raw;develop;catalog;lightroom;
StartupWMClass=archroom
