[Desktop Entry]
Type=Application
Name=Viberoom
GenericName=Photo Manager and Raw Developer
Comment=Organize and develop raw photos
Exec=viberoom
Icon=viberoom
Terminal=false
Categories=Graphics;Photography;RasterGraphics;2DGraphics;
Keywords=photo;raw;develop;catalog;lightroom;
StartupWMClass=viberoom
